@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html, body {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
}

@theme {
  --color-wa-teal: #008069;
  --color-wa-light-bg: #f0f2f5;
  --color-wa-panel-header-icon: #54656f;
  --color-wa-input-bg: #ffffff;
  
  --color-wa-border-light: #e9edef;
  --color-wa-border-dark: #2a3942;

  --color-wa-primary: #111b21;
  --color-wa-secondary: #667781;

  --color-wa-dark-bg: #111b21;
  --color-wa-dark-header: #202c33;
  --color-wa-dark-hover: #202c33;
  --color-wa-dark-input: #2a3942;
  
  --color-wa-msg-out: #d9fdd3;
  --color-wa-msg-in: #ffffff;
  --color-wa-msg-out-dark: #005c4b;
  --color-wa-msg-in-dark: #202c33;

  --bg-doodle-light: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 15h10v10H15V15zm20 20h10v10H35V35zm-20 20h10v10H15V55zm40-40h10v10H55V15zm20 20h10v10H75V35zm-20 20h10v10H55V55zM15 75h10v10H15V75zm20 20h10v10H35V95zm40-20h10v10H75V75zm20 20h10v10H95V95z' fill='%23aebac1' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
  
  --bg-doodle-dark: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 15h10v10H15V15zm20 20h10v10H35V35zm-20 20h10v10H15V55zm40-40h10v10H55V15zm20 20h10v10H75V35zm-20 20h10v10H55V55zM15 75h10v10H15V75zm20 20h10v10H35V95zm40-20h10v10H75V75zm20 20h10v10H95V95z' fill='%23667781' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@layer utilities {
  .border-indent-light::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    left: 80px; 
    background-color: var(--color-wa-border-light);
  }
  
  .dark .border-indent-dark::after {
    background-color: var(--color-wa-border-dark);
    left: 80px;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
  }
}